.UserInfoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.UContainer {
    width: 70vw;
    font-size: 18px;
}

.UItem {
    display: flex;
    font-size: 16px;
    padding-left: 15px;
    margin-top: 20px;
}

.UItemTitle {
    width: 170px;
}

.UCategory{
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #9e9fa1;
    margin-bottom: 20px;
}

.UItem button{
    all: unset;
    margin-top: 40px;
    font-size: 15px;
    text-decoration: underline;
    margin-right: 20px;
}

.UItem button:hover{
    cursor: pointer;
}

.UItem input {
    width: 250px;
    font-size: 15px;
    height: 35px;
}