.ClassPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.CContainer {
    width: 70vw;
    font-size: 18px;
}


.CCategory {
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.CCategory .Category {
    margin-right: 20px;
    font-size: 22px;
}

.CCategory .CCIcon{
    color: gray;
    font-size: 16px;
    cursor: pointer;
}

.CItem {
    margin-top: 20px;
}

.ItemTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-bottom: 1px solid #9e9fa1;
    padding: 8px 15px 8px 15px;
    margin-bottom: 10px;
}

.EditfolderButton {
    display: flex;
}

.EditfolderButton button:hover{
    cursor: pointer;
}

.PlusContainer {
    display: flex;
    width: 50px;
    justify-content: space-between;
}

.PlusContainer input{
    display: none;
}

.BContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
}

.CategoryPlusIcon {
    align-items: center;
}

.DeleteContainer {
    color: gray;
}

.EditfolderButton {
    display: flex;
    width: 25px;
    justify-content: space-between;
}
.DE:hover{
    color: black;
    cursor: pointer;
}

.bar {
    width: 100px;
    height: 7px;
    background-color: #dedede;
    border-radius: 5px;
    margin-right: 5px;
}

.barfill {
    height: inherit;
    /* background-color: #00a4fc; */
    background-color: hsl(9, 100%, 77%);
    border-radius: 5px;
    width: 0px;
}

.storage-box {
    font-size: 13px;
    margin: 20px 0 0 0;
    padding: 0 0 0 18px;
}
.storage-content {
    display: flex;
    align-items: center;
    font-size: 12px;
}
