.Navbar {
    display:flex;
    height:55px;
    border-bottom:solid 1px #d0d2d4;
    align-items:center;
    justify-content: space-between;
}

.NavbarLeft {
    display:flex;
    align-items:center;
    margin-left: 50px;
}

.NavbarRight {
    display:flex;
    margin-right:170px;
    padding:0;
}

.NavbarLeft .NavbarLogo {
    height:35px;
    margin-left:50px;
}
.NavbarLink {
    text-decoration: none;
    color: black;
}
.NavbarLink:hover {
    text-decoration: underline;
}
.NavbarLeft .NavbarTitle {
    margin-left:50px;
    font-weight:500;
}

.NR-name{
    max-width: 140px;
}

.NavbarRight button {
    margin:7px 7px;
    font-size: 14px;
    background:inherit;
    border:solid 1px #d0d2d4; 
    border-radius:5px;
    padding: 5px 9px;
    color: black;
}
.NavbarRight button:hover {
    text-decoration: underline;
}