html,body, #root, #root > div{
    height: 100%;
}
.register-group {
    display: flex;
    align-items: center;
    float: left;
    margin-top: 14px;
    font-size: 14px;
}

.info-group{
    display: flex;
    margin-right: 15px;
    height: 14px;
    width: 160px;
}

.RegisterPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: calc(100% - 55px);
}

.RegisterPage .form-group {
    display: flex;
}

a {
    color: black !important;
}

.ig2-container {
    display: flex;
    width: 160px;
    justify-content: space-between;
    height: 30px;
}
.ig2-c-c {
    display: flex;
    align-items: center;
}
.info-group2 {
    margin: 0 10px 0 0;
}