.FCategory {
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
.FCategory .Category {
    font-size: 22px;
}

.FPath {
    margin: 10px 0 10px 0;
    font-size: 16px;
    display: flex;
    color: gray;
}

.FButtonBox {
    margin-top: 20px;
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
}

.FBContainer {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
    padding-right: 3px;
    height: 24px;
}